/* Coolors Exported Palette - coolors.co/a27e8e-a77464-cab39c-07151c-88292f */

/* HSL */
$color1: hsla(333%, 16%, 56%, 1);
$color2: hsla(14%, 28%, 52%, 1);
$color3: hsla(30%, 30%, 70%, 1);
$color4: hsla(200%, 60%, 7%, 1);
$color5: hsla(356%, 54%, 35%, 1);

/* RGB */
$color1: rgba(162, 126, 142, 1);
$color2: rgba(167, 116, 100, 1);
$color3: rgba(202, 179, 156, 1);
$color4: rgba(7, 21, 28, 1);
$color5: rgba(136, 41, 47, 1);