/* Coolors Exported Palette - coolors.co/f46036-5b85aa-cab39c-07151c-414770 */

/* HSL */
$color1: hsla(13%, 90%, 58%, 1);
$color2: hsla(208%, 32%, 51%, 1);
$color3: hsla(30%, 30%, 70%, 1);
$color4: hsla(200%, 60%, 7%, 1);
$color5: hsla(232%, 27%, 35%, 1);

/* RGB */
$color1: rgba(247, 166, 122,1);
$color2: rgba(91, 133, 170, 1);
$color3: rgba(202, 179, 156, 1);
$color4: rgba(7, 21, 28, 1);
$color5: rgba(65, 71, 112, 1);