/* Style the video: 100% width and height to cover the entire window */
body {
    padding: 0;
    margin: 0;
    font-family: 'Open Sans', sans-serif;
    background-color: #f1f1f1;
}

h1, h2, h3, nav  {
    font-family: 'Merriweather', serif;
}

nav {
    background-color: rgba(247, 166, 122,1);
    box-shadow: 0px 0px 10px black;
    font-weight: bold;
    min-height: 57px;
}

nav a {
    max-width: 70vw;
}
nav img {
    max-height: 80%;
    max-width: 80%;
    margin: 0;
}



/* Fixed/sticky icon bar (vertically aligned 50% from the top of the screen) */
.icon-bar {
    position: fixed;
    top: 50%;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
    z-index: 100;

}

/* Style the icon bar links */
.icon-bar a {
    display: block;
    text-align: center;
    padding: 16px;
    transition: all 0.3s ease;
    color: white;
    font-size: 2em;
}

/* Style the social media icons with color, if you want */
.icon-bar a:hover {
    background-color: rgb(64, 64, 64);
}

.facebook {
    background: black;
    color: white;
}

.instagram {
    background: black;
    color: white;
}

.github {
    background: black;
    color: white;
}



#landingvideo  {
    position: relative;
    background-color: black;
    height: auto;
    min-height: 100vh;
    width: 100%;
    overflow: hidden;
    margin-top: 57px;
    box-shadow: 0px 0px 10px black;

}

#myVideo {
    position: absolute;
    top: 50%;
    left: 50%;
    min-width: 100%;
    min-height: 100%;
    width: auto;
    height: auto;
    z-index: 0;
    -ms-transform: translateX(-50%) translateY(-50%);
    -moz-transform: translateX(-50%) translateY(-50%);
    -webkit-transform: translateX(-50%) translateY(-50%);
    transform: translateX(-50%) translateY(-50%);
    
}

#contact {
    background-color: #07151C;
    color: #f1f1f1;
    text-align: center;
    min-width: 100%;
    min-height: 20vh;
    padding-top: 10vh;
    padding-bottom: 10vh;
}

footer{
    background-color: rgb(4, 13, 17);
    color: #f1f1f1;
    text-align: center;
    font-style: italic;
    padding-top: 5vh;
    padding-bottom: 5vh;
}

section {
    box-shadow: 0px 0px 10px black;
}



.content {
    position: absolute;
    text-align: center;
    margin-bottom: 0;
    margin-top: 12%;
    
    height: auto;
    min-height: 50vh;
    min-width: 100%;
    font-size: 3em;
    
    background-color: rgba(0, 0, 0, 0);

    
}

.content h1 {
    line-height: 3em;
}
.content p {
    line-height: 2.1em;
}

.content span {
    
    background-color: rgba(247, 166, 122, 0.9);
    padding: 0.35em;
    
}

.image-link {

    min-height: 3em;
    width: 3em;

    margin-top: 2em;
    margin-left: auto;
    margin-right: auto;

}


#about {
    background-color: #f1f1f1;
    color: #07151C;
    min-width: 100%;
    min-height: 100vh;
    padding-top: 10vh;
    padding-bottom: 10vh;
    overflow: hidden;
}

.profile {
    box-shadow: 0px 5px 10px black;
    min-height: 70vh;
    border-radius: 5px;
    overflow: hidden;
}

.row {
    min-height: 70vh;
    
}

.col-md {
    min-height: 70vh;
}    

.profile-text {
    background-color: #07151C;
    color: #f1f1f1;
    border-bottom: 14px solid rgba(247, 166, 122,1);
    text-align: justify;
    text-justify: inter-word;
    padding: 20px;
    
}

.profile-picture {
    background-image: url(img/profile.jpg);
    background-size: cover;
    height: 100%;
    width: 100%;
}