/* Style the video: 100% width and height to cover the entire window */
body {
    padding: 0;
    margin: 0;
    font-family: 'Open Sans', sans-serif;
    background-color: #f1f1f1;
}

nav {
    background-color: #f1f1f1;
    box-shadow: 0px 0px 10px black;
    font-weight: bold;
}



nav ul {
    margin-right: 2.5vw;
}


#landingvideo  {
    position: relative;
    background-color: black;
    height: 40;
    min-height: 20rem;
    width: 100%;
    overflow: hidden;
    margin-top: 50px;
    box-shadow: 0px 0px 10px black;

}

#myVideo {
    position: absolute;
    top: 50%;
    left: 50%;
    min-width: 100%;
    min-height: 100%;
    width: auto;
    height: auto;
    z-index: 0;
    -ms-transform: translateX(-50%) translateY(-50%);
    -moz-transform: translateX(-50%) translateY(-50%);
    -webkit-transform: translateX(-50%) translateY(-50%);
    transform: translateX(-50%) translateY(-50%);
    
}

#contact {
    background-color: #07151C;
    color: #f1f1f1;
    text-align: center;
    min-width: 100%;
    min-height: 20vh;
    padding-top: 10vh;
    padding-bottom: 10vh;
}

footer{
    background-color: rgb(4, 13, 17);
    color: #f1f1f1;
    text-align: center;
    font-style: italic;
    padding-top: 5vh;
    padding-bottom: 5vh;
}

section {
    box-shadow: 0px 0px 10px black;
}

.welcome {
    margin-bottom: 0;
}



/* Add some content at the bottom of the video/page */
.content {
    position: static;
    text-align: center;

    min-height: 50vh;
    min-width: 100%;

    font-size: 3em;

    background-color: #f1f1f1;
    /*
    text-shadow: 1px 1px 4px black;
    */
}

